// Shop Guinness Beer Page css //

.main_contant {
    position: relative;
    margin-top: 35px;
    margin-bottom: 100px;
    img{
    	display: block;
    	width: 100%;
    }
    .converter_contant {
	    position: absolute;
	    top: 23%;
	    left: 2%;
	    right: 0;
	    h2{
	    	font-size: 88px;
    		color: @white-color;
	    }
	    p{
	    	font-size: 24px;
    		color: @white-color;
    		font-weight: 600;
    		line-height: 36px;
    		text-transform: uppercase;
	    }
	}
}
li#shipping .step-title {
    font-size: 48px;
}
.breadcrumbs .item a:not(:hover) {
    color: #888;
}
.opc-block-summary > .title {
    font-size: 48px !important;
}
.breadcrumbs .item strong {
    font-weight: normal;
    color: #333;
}
.js-toolbar-dropdown{
	min-width: auto;
	width: 145px !important;
}
.toolbar-sorter.sorter{
	div#sorter {
	    width: 133px !important;
	}
}
.field-error, div.mage-error[generated]{
	background: transparent;
    display: inline-block;
    padding: 4px 7px 4px;
    color: #f00;
}
.sidebar-additional{
	.block.blog-search{
		.block-content{
			.actions button{
				width: 50px;
    			height: 60px;
			}
		}
	}
}  
a.action.compare.primary {
    margin-bottom: 10px;
}
.products-grid.wishlist + .actions-toolbar .action {
    margin-bottom: 5px;
    padding: 10px 20px;
}
.actions{
	button.action.primary{
		padding: 10px 20px !important;
	}
}
button#update-cart-item-57623 {
    font-size: 18px;
}
.sidebar{
	 .product-items{
	 	.actions-secondary {
	 		right: 7px;
			left: auto;
	 	}
	 	.action.tocart{
	 		padding: 6px 8px !important;
	 		span{
	 			line-height: 32px;
	 		}
	 	}
	 }
	  
} 
#ox_carousel_e5c4e, #ox_carousel_e5c4e .ox-slide-item{
	    height: auto;
}
.cart-container .checkout-methods-items .item + .item {
    margin-top: 0;
}
.form.create.account{
	.actions-toolbar{
		>.secondary .action{
			padding: 10px 20px
		}
	}
}  
input.input-text {
    height: 55px;
}
.product-info-main  {
	.box-tocart{
		.action.tocart{
			font-size: 24px;
    		font-weight: 400;
		}
	}
}
.breadcrumbs{
	ul{
		li.item{
			font-size: 13px;
		}
	}
}
.cms-faq{
	.ox-toggle.collapsible.medium-right {
	    padding: 15px 0;
	} 
}
   
.ox-banner.banner-stretch.desktop-beer {
    display: block;
}
.ox-banner.banner-stretch.mobile-beer{
	display: none;
}
.gallery-placeholder{
	.gallery__item{
		.gallery__image-wrapper{
			.gallery__image{				
				border: 2px solid #F4F4F4;
			}
		}
	}
}
 	.main_contant.destop {
        display: block;
    }
    .main_contant.mobile {
        display: none;      
    }

    .ox-banner-maintors.destop {
        display: block;
    }
    .ox-banner-maintors.mobile {
        display: none;      
    }

.home-bar{
	.ox-megamenu-block.ox-megamenu-block-right.ox-menu-col.ox-menu-col-4{
		max-width: 700px;
    	flex: 0 0 700px;
	}
	.ox-megamenu__categories {
		flex-grow: 0.5;
		.ox-megamenu-list{
			.level1.submenu{
				.level2{
					a{
						i{
							display:none;
						}
					}
					.ox-submenu.level2.submenu.opened.animate{
						display:none !important;
						opacity: 1;
					}
				}
			}
		}
	}
}
.column.main{
	.block-align-vertical{
		.block{
			&:last-child{
				margin-bottom: 150px;
			}
		}
	}
}
.coverterwe {
    display: flex;
    flex-wrap: wrap;
	.slime_rotion {
	    position: relative;
	    margin-right: 10px;
	    .main_contant {
		     position: absolute; 
		     bottom: 23px; 
		     margin: 0; 
		     left: 0; 
		     text-align: center;
		     right: 0; 
		     h2 {
			    font-family: 'Knockout', Helvetica, Arial, sans-serif;
			    color: #fff;
			    text-align: center;
			    font-size: 2.4rem;
			}
			.costam_btn {
			    background: #b8955f;
			    padding: 7px 40px;
			    font-family: 'Knockout', Helvetica, Arial, sans-serif;
			    cursor: pointer;
			    font-size: 24px;
			    text-transform: uppercase;
			    span{
			    	&:after{
						border-bottom: 0 !important;
			    	}
			    }
			}
		}
	}
}
.clothing-accessories{
	.ox-menu-col{
		flex-grow: 0.5;
	}
	.ox-megamenu-block.ox-megamenu-block-right.ox-menu-col.ox-menu-col-6 {
	    flex: 0 0 100%;
	    max-width: 57%;
	}
}
.box.box-information.col-mp.mp-6.mp-xs-12 {
    padding: 0;
}
.category-guinness-at-home{
	.block-title.title-h3{
	    position: relative;
	    z-index: 99;
	    padding: 0 25px;
	    h3{
	        font-size: 48px;
	    }
	    &:after{
	        content: '';
	        background: @graty-color;
	        width: 170px;
	        height: 2px;
	        position: absolute;
	        margin: 0 auto;
	        text-align: center;
	        display: block;
	        z-index: 0;
	        left: auto;
	        right:0;
	        top: 22px;
	    }
	    &:before{
	        content: '';
	        background: @graty-color;
	        width: 140px;
	        height: 2px;
	        position: absolute;
	        margin: 0 auto;
	        text-align: center;
	        display: block;
	        z-index: 0;
	        top: 22px;
	    }
	}
	.homebar-category-details{
		a {
		    font-size: 36px;
		    font-family: @font-knockout;
		    margin-top: 35px;
		    margin-bottom: 107px;
		    display: block;
		    text-transform: uppercase;
		    text-align: left;
		}
	}
	.homebar-categories{
		a{
			font-size: 36px;
		    font-family: @font-knockout;
		    margin-top: 3px;
		    margin-bottom: 87px;
		    text-transform: uppercase;
    		text-align: left;
		    display: block;
		}
	} 
	.coustrant_condistrt{
		.block-align-vertical{
			.block.widget {
			    margin-bottom: 210px;
			}
		}
	}
}
 button.action.secondary{    
    padding: 10px 20px;
    span {
        font-size: 24px;
    }
}
.cart-container{
	.checkout-methods-items{
		.action.primary{
			&:hover{
				&:after{
					background: #fff;
				}
				span{
					color: #000;
				}
			}
		}
	}	
}  
.category-official-guinness-glassware {
	.container {
	    padding: 0;
	}
	.block-align-vertical{
		position: relative;
		display: block;
		.ox-banner{
			height: 100%;
			&:last-child{
				.category-caption.caption-blue{
			    	padding-left: 50px;
			    }
			}
			&:hover{
				img{
					transform: inherit;
				}
			}
			.category-caption.caption-blue{
				position: relative;
			    left: 0;
			    padding: 22px;
			    bottom: 0;
			    margin-top: -52px;
			    text-align: left; 
			    p{
			        margin: 0;
			        line-height: 65px;
			    	a{
			    		font-size: 48px;
					    color: @white-color;
					    font-family: @font-knockout;
					    text-transform: uppercase;
			    	}
			    }
			   	.cat-description{
			   		font-size: 18px;
				    color: @white-color;
				    margin-bottom: 15px;
				    line-height: initial;
				    max-width: 701px;
				    width: 100%;
			    }
			    .hightlighted-text.shop-all {
				    background:@gold-color;
				    padding: 12px 20px;
				    font-size: 24px;
				    font-family: @font-knockout;
				    text-transform: uppercase;
				    &:brfore{
				    	background: transparent;
				    }
				    &:hover{
				    	background: #fff;
				    	&:brfore{
					    	background: #fff;
					    }
				    }
				}
			}
		}
	}
	.products-grid{
		.product-items{
		    margin-top: 15px;
			.product-item{
			    margin-bottom: 15px;
				.product-item-info{
					max-width: 95%;
				    margin: 0 auto;
				    background: @white-color;
				}
			}
		}
	}
	.glassware-categories{
		text-align: left;
		padding: 0;
    	margin: 0;
		.glassware-category-img{
			span{
				text-align: left;
			    font-size: 36px;
			    text-transform: uppercase;
			    margin-top: 6px;
			    font-family: @font-knockout;
			    display: block;
			}
		}
	}
	.category-cms{
		.row.no-margin.coustamotyr {
		    margin-bottom: 50px !important;
		}
	} 
}
.product-e-gift-card{
	.athlete2_product__bottom {
	    display: none;
	}
	.block-viewed-products-grid{
		display: none;
	}
}
.above_footer_block{
	.iblock{
		.content-wrapper{
			h4{
				font-weight: 600;
			}
			h6{
				font-weight: 600;
			    margin-bottom: 5px !important;
			}
		}
	}
}
.secondary{
	 .action.viewcart{
	 	font-family: 'Knockout', Helvetica, Arial, sans-serif;
	 	span{
	 		display:block;
	 	}
	 }
}
.primary{
	.action.primary.checkout{
		font-family: 'Knockout', Helvetica, Arial, sans-serif;
		span{
	 		display:block;
	 	}
	}
}
.ox-banner-maintors {
    position: relative;
    .custom-text{
   		position: absolute;
	    bottom: 0;
	    text-align: left;
	    left: 5%;
	    max-width: 600px;
	    width: 100%;
	    font-family: 'Knockout', Helvetica, Arial, sans-serif;
	    font-size: 48px;
	    line-height: 47px;
	    color: #ffffff;
	    text-transform: uppercase;
    }
}

.product-guinnessr-images{
	.col-custom{
	    margin: 35px;
		img{
			margin: 28px 0;
			border: 1px solid #b9965b;
		}
	}
}
.presentation-box {
    display: block;
    float: left;
    width: 100%;
    .presentation-box-section {
	    display: flex;
	    align-items: center;
	    background: #b9965b;
	    .presentation-box-img{
	        width: 50%;
	    	img{
	    		float: left;
	    	}
	    }
	    .presentation-box-text {
		    padding: 0 40px;
		    .presentation-box-center{
		    	 h4 {
				    font-size: 36px;
				    color: #fff;
				}
				p{
					font-size: 16px;
				    max-width: 435px;
				    color: #fff;
				}
		    }
		}
	}
}
a.hightlighted-text.shop-all:before {
    display: none;
}
button.action.tocart.primary {
    padding: 14px !important;
}

.giftcard-template-container{
	.giftcard-template-setting{
		.giftcard-template-setting-content{
			.giftcard-template-choose-images{
				margin: 11px 0;
			}
		}
	}
}   


form#check-code-form{
	button.action.action-check.primary {
	    padding: 7px 20px !important;
	}	
}