.above-footer-content {
    .content-wrapper {
        h6 {
            font-family:@font-open-Sans;
        }
        h4 { 
            font-family:@font-open-Sans; 
        }
    }
    .centered-iblocks {
        padding-top: 30px;
        padding-bottom: 30px;
        .iblock { 
            padding-top: 0;
            padding-bottom: 0;
        }
    }  
} 
.copyright-container {
    border-top: 1px solid @dark-color;
    padding-top: 20px;
}
.footer--layout-2 {
    .footer {
        &.content {
            .block.newsletter.newsletter-style--big {
                min-height: 250px;
                .title {
                    margin-bottom: 10px; 
                    font-weight: 500;
                }
                .label {
                    max-width: 300px; 
                }
                .control {
                    &:before {
                        display: none;
                    } 
                    input {
                        padding-left: 10px;
                    }
                }
            }
            .payment-icons {
                padding-top: 30px;
            }
            .footer-block-content {
                padding: 0;
                .call-us {
                    font-family:@font-open-Sans; 
                    color: #999999;
                    font-size: 18px;
                } 
                ul {
                    li {
                        a {
                            background-color: transparent;
                        }
                    }
                }  
            }
            h4 {
                font-weight: @hgroup-font-weight;
            }
            .field-error, div.mage-error[generated] {
                background: transparent;
                padding-left: 0;
                color: red;
            }
        }
    }    
}

 