
.promo-block-categories-grid{
	background: #000;
	.ox-carousel{
		.a-center{			
			text-align: left;
			h6{
				font-size: 36px;
				margin-top: 10px;
				color: #fff;
			}
		}
	}
	.ox-banner-link{
		margin-right: 25px;
	}
	.promo-block-categories__text{
		ul{
			li{
				a{
					font-size: 18px;
					color: #fff;
					font-family: 'Open Sans';
    				font-weight: 600;
				}
				a.button.naked.long.h6.primary{
					span{
						color:#000;
						font-family: 'Knockout';
    					font-size: 25px;
    					font-weight: 400;
					}
					&:hover{
						span{
							color:#fff;
						}
						&:after{
							background: transparent;
							transform: scaleX(0);
						}
					}
				}
			}
		}
		.title{
			font-size: 60px;
			color: #fff;
		}
	}
}
.glassware-categories{
    padding: 0 35px;
    margin: 100px 0;
	.block-align-vertical{
		position: relative;
		display: block;
		.ox-banner{
			height: 100%;
			margin: 0;
		    width: 100%;
		    display: block;
		    float: left;
		    img{
		    	width: 100%;
		    }
			&:last-child{
				.category-caption.caption-blue{
			    	padding-left: 50px;
			    }
			}
			&:hover{
				img{
					transform: inherit;
				}
			}
			.category-caption.caption-blue{
				position: relative;
			    left: 0;
			    padding: 22px;
			    bottom: 0;
			    margin-top: -52px;
			    text-align: left; 
			    p{
			        margin: 0;
			        line-height: 65px;
			    	a{
			    		font-size: 60px;
					    color: @white-color;
					    font-family: @font-knockout;
					    text-transform: uppercase;
			    	}
			    }
			   	.cat-description{
			   		font-size: 16px;
				    color: #ffffff;
				    margin-bottom: 25px;
				    font-family: 'Open Sans';
				    text-transform: uppercase;
				    line-height: 34px;
				    max-width: 701px;
				    width: 100%;
			    }
			    .hightlighted-text.shop-all {
				    background:@gold-color;
				    padding: 12px 20px;
				    font-size: 30px;
				    font-family: @font-knockout;
				    text-transform: uppercase;
				}
			}
		}
	}
	.products-grid{
		.product-items{
		    margin-top: 15px;
			.product-item{
			    margin-bottom: 24px;
				.product-item-info{
					max-width: 95%;
				    margin: 0 auto;
				    background: @white-color;
				}
			}
		}
	}
}
.pswp{
	.pswp__ui{
		.pswp__button{
			&:hover{
				background: #b8955f;
			}
		}
	}
} 
.checkout-index-index{
	.page-header{
		.logo__container{
			    margin: 25px 0;
		}
	} 
}
.clothing-categories-section{
    margin: 75px auto;
	.clothing-title {
	    display: flex;
	    align-items: center;
	    h6{
	    	font-size: 60px;
    		margin: 15px 25px 30px 0;
	    }
	    a {
		    font-size: 18px;
		    text-transform: uppercase;
		    text-decoration: underline;
		}
	}
	.clothing-categories{
		text-align: left;
		.clothing-category-details{
			span{
				font-size: 36px;
				font-family: 'Knockout';
    			text-transform: uppercase;
			}
		}
	}
}
.trending-categories-section {
    margin: 25px 47px 100px;
    .trending-title {
	    display: flex;
	    align-items: center;
	    h6{
	    	font-size: 60px;
	    	margin: 0 20px 0 0;
	    }
	    a {
		    font-size: 18px;
		    text-transform: uppercase;
		    text-decoration: underline;
		}
	}
}
.personalised-carousel {
    background: #ebebeb;
    .ox-carousel__inner{
	    .ox-carousel__content{
	    	img{
	    		height: 500px;
    			width: 500px;
	    	}
	    }
	    h6 {
		    font-size: 60px;
		}
		h2{
			font-size: 18px;
			font-family: 'Open Sans';
			font-weight: normal;
    		text-transform: uppercase;
		}
	}
	.ox-carousel__inner{
	    position: relative;
	    img{
	    	mix-blend-mode: darken;
	    }
	    &:after{
	    	position: absolute;
		    bottom: 25px;
		    content: '';
		    left: 0;
		    height: 100%;
    		width: 100%;
		    right: 0;
		    background-image: url(../images/glassware-bg.png);
		    background-repeat: no-repeat;
		    background-size: cover;
		    z-index: -1;
	    }
	}
	.product.details.product-item-details{
		strong.product.name.product-item-name {
		    font-size: 18px;
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-weight: 700;
		    a{
		    	font-weight: 700;
		    }
		}
		span.price-wrapper {
			span{
			    width: 100%;
			    display: block;
			    font-size: 18px;
			    font-weight: 700;
			}
		}
		.actrions{
		    display: block;
    		margin-top: -15px;
			span.button.secondary.medium.ox-show-hover.ox-moveup-hover {			    
			    color: #000;
			    font-family: 'Knockout';
			    font-size: 27px;
			    font-weight: 400;
			}
			&:hover{
				span.button.secondary.medium.ox-show-hover.ox-moveup-hover {
					color: #fff;
				}
			}
		}
	}
	.owl-nav{
		.owl-prev{
			span{
				&:before{
					background: #000 !important;
				}
				&:after{
					background: #000 !important;
				}
			}
		}
		.owl-next{
			span{
				&:before{
					background: #000 !important;
				}
				&:after{
					background: #000 !important;
				}
			}
		}
	}
}
.container.a-center.same_rtifgt {
    padding: 0;
    margin-bottom: 100px;
	.ox-banner-link{
		display: block!important;
		position: relative;
		.main_iamgestns {
		    position: absolute;
		    top: 30%;
		    left: 26px;
		    bottom: 0;
		    text-align: left;
		    h6 {
			    font-size: 60px;
			    color: #fff;
			}
			p{
				font-size: 16px;
   				color: #fff;
			}
			a.hightlighted-text.shop-all {
			    background: #b8955f;
			    padding: 10px 30px;
			    font-size: 30px;
			    font-family: 'Knockout';
			    text-transform: uppercase;
			}
		}		
	}
	.ox-banner-maintors{
		.main_iamgestns {
		    position: absolute;
		    top: auto;
		    right: 0;
		    left: 0;
		    padding: 48px;
		    bottom: 0;
		    text-align: center;
		    h6 {
			    font-size: 60px;
			    color: #fff;
			}
			p{
				font-size: 16px;
   				color: #fff;
			}
			a.hightlighted-text.shop-all {
			    background: #b8955f;
			    padding: 10px 30px;
			    font-size: 30px;
			    font-family: 'Knockout';
			    text-transform: uppercase;
			}
		}
	}
}
.options-list {
    list-style: none;
    padding: 0;
}
.minicart--style-modern{
	.ui-dialog{
		.block-minicart{
			.amount{
				.price-wrapper{
					&:first-child{
						.price{
						    font-size: 32px;
	    					font-weight: 600;
						}
					}
				}
			}
		}
	}
}    
.home-page-banner {
    padding: 50px 47px;
    .main-banner-.section {
    	img{
    		width: 100%;
    	}
	    position: relative;
	    	&:after{
	    		content: '';
			    position: absolute;
			    left: 0;
			    top: 31%;
			    background: #000;
			    height: 401px;
				width: 550px;
			    z-index: 1;
	    	}
	    .banner-title {
	        z-index: 9;
		    position: absolute;
		    top: 50%;
		    margin-top: -210px;
		    left: 2%;
		    h6 {
			    font-size: 100px;
			    color: #fff;
			}
			p {
			    font-size: 24px;
			    color: #fff;
			    text-transform: uppercase;
			    font-family: 'Open Sans';
			    font-weight: 600;
			    line-height: 58px;
			}
			a.button.naked.long.h6.primary {
			    padding: 0;
			    &:hover{
			    	span{
			    		color: #fff;
			    	}
			    }
			    span{
			    	color: #000;
			    	font-weight: 400;
				    font-family: 'Knockout';
				    font-size: 25px;
			    }
			}
		}
	}
}
