//1600
@media only screen and (max-width: (@screen__1600)) { 
    .clothing-accessories{
        .ox-menu-col{
            flex-grow: 0.8;
        }
    } 
    .home-page-banner{
        .main-banner-.section{
            .banner-title{
                top: 5%;
                margin: 0;
            }
            &:after{
                top: 14%;
            }
        }
    }
}
@media only screen and  (min-width: (@screen__1601))  {
    .coverterwe.ipad-clothing-menu {
        display: none;
    }
}
@media only screen and (max-width: (@screen__1600)) and (min-width: (@screen__1025))  {
    .coverterwe.desktop-clothing-menu {
        display: none;
    }
    .clothing-accessories {
        .ox-menu-col{
            max-width: 70%;
        }
        .slime_rotion{
            .main_contant{
                h2{
                    font-size: 25px;
                }
            }
        }  
    }
    .home-bar{
        .ox-megamenu-block.ox-megamenu-block-right.ox-menu-col.ox-menu-col-4 {
            max-width: 70%;
        }
        .slime_rotion{
            .main_contant{
                h2{
                    font-size: 25px;
                }
            }
        }
    }
}

//1366
@media only screen and (max-width: (@screen__1366)) { 
    .home-page-banner{
        .main-banner-.section{
            .banner-title{
                top: 5%;
                margin: 0;
            }
            &:after{
                top: 14%;
            }
        }
    }  

}

//1024
@media only screen and (max-width: 1024px) { 
    .categorypath-guinness-at-home{
        .block-title.title-h3{
            &:before{
                display:none;
            }
            &:after{
                display:none;
            }
        }
        .homebar-categories{
            a{
                margin-bottom: 20px;
            }
        }
        .homebar-category-details{
            a{
               margin-bottom: 20px;
            }
        }  
    } 
    .home-page-banner {
        padding: 30px 15px;
        .main-banner-.section{
            .banner-title{
                position: relative;
                left: 0;                
                padding: 40px;  
                top: -5px;
                margin: 0;
                background: #000;
                z-index: 9;
                h6{
                    font-size: 55px;
                    margin-top: -75px;
                }
                p{
                    font-size: 19px;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    line-height: 30px;
                }
            }
            &:after{
                display:none;
            }
        }
    }
    .page-header{
        .logo__container{
            margin: 10px auto 0 0;
        }
    }   
    .container.a-center.same_rtifgt{
        .ox-banner-link{
            margin-bottom: 15px;
        }
    }
}

//991
@media only screen and (max-width: (@screen__991)) { 
    .coverterwe{
        display: none;
        .slime_rotion{
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
    .personalised-carousel{
        .ox-carousel__inner{
            &:after{
                background-size: auto;
                background-position: unset;
            }
        }
    } 
    .promo-block-categories-grid.row{
        padding: 25px 25px;
        .promo-block-categories__text{
            padding: 0 ;
        }
    }
    .ox-carousel.ox-slider-height__settings{
         .ox-slide-item.slide-content-center{
            .ox-carousel__inner{
                padding: 20px;
                &:after{

                }
            }
         }
    } 
    .product-info-main{
        .box-tocart{
            .actions{
                 .action.tocart{
                    font-size: 25px;
                    font-weight: 400;
                    margin-bottom: 15px;
                 }
            }
        }
    }  
    .personalised-carousel{
        .ox-carousel__inner{
            .ox-carousel__content{
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .product.details.product-item-details{
            .actrions{
                 span.button.secondary.medium.ox-show-hover.ox-moveup-hover{
                    font-size: 21px;
                 }
            }
        } 
    }   
    .glassware-categories{
        .block-align-vertical{
            .ox-banner:last-child{
                .category-caption.caption-blue{
                    padding-left: 15px;
                }
            }
        }
    }   
    .container.a-center.same_rtifgt{
        margin-bottom: 25px;
        .ox-banner-maintors {
            .main_iamgestns{
                h6{
                    font-size: 30px;
                } 
            }
        }
    }  
    .glassware-categories {
        padding: 0 15px;
        margin: 50px 0;
    }       
    .container.a-center.same_rtifgt{
        .ox-banner-link{
            margin-bottom: 15px;
        }
    } 
    .trending-categories-section {
        margin: 25px 20px 50px;
    }
    .clothing-categories-section{
        margin: 45px 45px;
        .clothing-title{
            display: block;
            margin-bottom: 20px;
            h6{
                font-size: 50px;
                margin: 10px 0;
            }
        }
    }
    .home-page-banner {
        padding: 30px 15px;
        .main-banner-.section{
            .banner-title{
                position: relative;
                left: 0;                
                padding: 40px;  
                top: -5px;
                margin: 0;
                background: #000;
                z-index: 9;
                h6{
                    font-size: 55px;
                    margin-top: -75px;
                }
                p{
                    font-size: 19px;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    line-height: 30px;
                }
            }
            &:after{
                display:none;
            }
        }
    }
    .menu-style-2{
         .page-header{
             .header__content {
                min-height: auto;
             }
         }
    }
    .main_contant {
        &.destop {
            display: none;
        }
        &.mobile {
            display: block;
            img{
                width: 100%;
            }
            .converter_contant{
                position: relative;
                top: 0;
                left: 0;
                background: #000;
                right: 0;
                padding: 20px;
                margin-top: -32px;
                h2{
                    font-size: 72px;
                    line-height: 36px;
                    margin-top: -35px;
                    br{
                        display: none;
                    }
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
}

//767
@media only screen and (max-width: (@screen__767)) { 
    .above-footer-content {
        .centered-iblocks {
            padding: 0;
            .iblock {
                padding-top: 25px;
                padding-bottom: 25px;
                justify-content: start;
                text-align: left;
                .icon-wrapper {
                    min-width: 50px;
                }
            }
        }
    }
    .container.a-center.same_rtifgt{
        .ox-banner-maintors{
             .main_iamgestns{
                 padding: 20px;
                 h6{
                    font-size: 24px;
                 }
                a.hightlighted-text.shop-all{
                    font-size: 25px;
                    padding: 10px 15px;
                }
             }
        }
    }  
    .promo-block-categories-grid{
        .ox-carousel{
            height: auto !important;
            .ox-slide-item{
                height: auto !important;
            }
            .a-center{
                h6{
                    font-size: 28px;
                }
            }
        }
    }   
    .personalised-carousel{
        .ox-carousel__inner{
            &:after{
                background-size: auto;
                background-position: unset;
            }
        }
    } 
    .category-guinness-clothing-accessories{
        .text_inshorting{
            margin-bottom: 25px;
        }
    } 
    .category-official-guinness-glassware{
        .block-align-vertical {
            .ox-banner{
            &:last-child{
                .category-caption.caption-blue{
                    padding-left: 20px;
                }
            }
                .category-caption.caption-blue{
                    p{
                        a{
                            font-size: 48px;
                            line-height: 48px;
                        }
                    }
                    .hightlighted-text.shop-all{
                        font-size: 25px;
                    }
                }
            }
        }
    }      
    .category-guinness-at-home{
        .homebar-category-details{
            a{
                margin-bottom: 35px;
            }
        }
        .homebar-categories{
            a{
                margin-bottom: 30px;
            }
        } 
        .coustrant_condistrt{
            .block-align-vertical{
                .block.widget{
                    margin-bottom: 0;
                }
            }
        }
    }  
    .ox-menu__block-before{
        display: none;
    }
    .ox-section-items{
        .ox-section-item-content{
            .ox-megamenu-navigation{
                >.level0{
                    >.level-top{
                        font-size: 36px;
                    }
                }
            }
        }  
    }
    .product-item{
         .product-item-name{
                font-weight: 700;
                font-size: 14px;
                line-height: 1.3;
         }
    }
    .ox-megamenu{
        .ox-vertical-separator{
            background: transparent;
        }
    }  
    .container.a-center.same_rtifgt{
        .ox-banner-link{
            .main_iamgestns{
                top: auto;
                padding: 20px;
                left: 0;
                bottom: 0;
                text-align: center;
                text-align: center;
                right: 0;
                h6{
                    font-size: 24px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 10px;
                    margin-bottom: 10px;
                }
                a{
                    padding: 10px 15px;
                    font-size: 25px;
                }
            }
        }
    }   
    .home-page-banner{
        .main-banner-.section{
            .banner-title{
                position: relative;
                left: 0;
                padding: 18px;
                top: -5px;
                background: #000;
                z-index: 9;
                margin: 0;
                h6{
                    font-size: 43px;
                    margin-top: -43px;
                }
            }
        }
    }      
    .categorypath-shop-guinness-beer{
        .page-main {
            padding-bottom: 0;
            padding: 0;
        }
    }
    .main_contant.destop {
        display: none;
    }
    .main_contant.mobile {
        display: block;
        .converter_contant{
            position: relative;
            top: 0;
            left: 0;
            background: #000;
            right: 0;
            padding: 20px;
            h2{
                font-size: 36px;
                line-height: 16px;
                margin-top: -27px;
                br{
                    display: none;
                }
            }
            p{
                font-size: 13px;
            }
        }
    }

    .ox-banner-maintors.destop {
        display: none;
    }
    .ox-banner-maintors.mobile {
        display: block;
    }
    .category-barware{
        .coustrant_condistrt{
            .block-align-vertical{
                .block.widget{
                    margin-bottom: 0;
                }
            }
        }
    }  
    .widget.block-products-list.title--align-center{
        .block-title{
            text-align: left;
            padding: 0 10px;
            margin-top: 30px;
        }
    } 
    .category-official-guinness-glassware{
        .category-cms{
            .row.no-margin.coustamotyr{
                flex-direction: column-reverse;
            }
        }
    }
    .ox-banner.banner-stretch.desktop-beer {        
        display: none;
    }
    .ox-banner.banner-stretch.mobile-beer{
        display: block;
    }
    .ox-banner.banner-stretch{
        margin-bottom: 20px;    
    }
    .ox-banner-maintors{
         .custom-text{
            left: 0;
            padding: 20px;

         }
    }
    .main_contant {
        margin-bottom: 21px;
    }
    .category-guinness-mens-clothing{
        .text_inshorting {
            margin-bottom: 0;
        }
    } 
    .above-footer-content{
        .row.centered-iblocks.-stretch{
            > div {
                .icon-wrapper {
                    margin-bottom: 15px;
                    margin-right: 5px;
                    .icon-wrapper{
                        margin-right: 15px;
                    }
                }
            }
            &:first-child{
                > div{
                    padding-left: 0px;
                 }
            }
        }
    }  
    .copyright-container{
        .copyright{
            span{
               img{
                    margin: 0 5px;
               } 
            }
        }  
        .copy-rights-content{
            padding-left: 0;
        }
    } 
    .menu--align-center{
        .page-header{
            .logo__container{
                margin: 0;
            }
        }
    }
    .glassware-categories{
        .block-align-vertical{
            .ox-banner{
                .category-caption.caption-blue{
                    p{
                        a{
                            font-size: 48px;
                            line-height: 48px;
                        }
                    }
                }
            }
        }
    }
    .category-glassware{       
        .block-align-vertical{
            .ox-banner{
            &:last-child{
                .category-caption.caption-blue{
                    padding: 15px;
                }
            }
                .category-caption.caption-blue{
                    p{
                        a{
                            font-size: 25px;
                        }
                    }
                    .cat-description{
                        font-size: 11px;
                    }
                    .hightlighted-text.shop-all{
                        font-size: 11px;
                    }
                }
            }
        }
    }    
    .ox-banner-maintors{
        .custom-text{
            font-size: 21px;
            line-height: 30px;
            margin: 0;
        }
    } 
    .main_contant{
        .converter_contant{
            p{
                font-size: 9px;
            }
            h2{
                font-size: 17px;
            }
        }
    }  
    .header-banner-below {
        font-size: 14px;
    }
    .checkout {
        &-container {
            .opc-wrapper {
                .step-title {
                    font-size: 26px;
                }
            }
        }
    }
} 

//479
@media only screen and (max-width: (@screen__xs - 1)) {
    .logo {
        &__container {
            .logo {
                max-width: 310px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .payment-option-inline {
        flex-direction: column;
        .payment-option-inner {
            padding-right: 0;
        }
        .actions-toolbar {
            margin-top: 15px;
            .action.action-apply {
                min-width: 100% !important;
            }
        }
    }
    .wishlist-index-index {
        .products-grid {
            &.wishlist {
                .product-items {
                    .product-item {
                        -webkit-flex-basis: 100%;
                        -ms-flex-preferred-size: 100%;
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}



