//767
@media only screen and (max-width: (@screen__m - 1)) { 
    .above-footer-content {
        .centered-iblocks {
            padding: 0;
            .iblock {
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }
    }
    .header-banner-below {
        font-size: 14px;
    }
} 

//479
@media only screen and (max-width: (@screen__xs - 1)) {
    .logo {
        &__container {
            .logo {
                max-width: 310px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}